html{
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}


.container{
  margin: 0 auto;
}

                                /* Nav Header */

.nav-bar{
  height: 64px;
  width: 100%;
  background-color: #ffffff;
  display: flex;
}

.nav-bar ul{
  margin: 0 24px;
  display: flex;
  width: 100%;

}

.nav-bar li{
  margin-right: 16px;
  height: 64px;
  display: flex;
  align-items: center;
  font-size: 18px;
}

/* Left part of nav (logo and name)*/
.nav-left{
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.nav-bar span{
  color: black;
  font-weight: bold;
}

.nav-bar li p{
  font-size: 2rem;
  color: grey;
  flex-grow: 1;
}

.nav-bar img{
  height: 100%;
}

.nav-bar-mobile{
  display: none;
}

@media only screen and (min-width: 320px) and (max-width: 480px){
  .nav-bar ul{
    display: none;
  }

  .nav-bar-mobile{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }
  .nav-bar-mobile img{
    height: 40px;
  }
}

                                /* Banner */

.banner{
  background-color: #d8d8d8;
  display: flex;
  align-items: center;
}

.banner img{
  width: 60%;
  margin: 32px 24px;
}

.banner-text{
  color: #4a4a4a;
  max-width: 25%;
  margin-left: 24px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.banner h1{
  font-size: 3rem;
}

.banner h3{
  font-size: 1.5rem;
}

.banner span{
  padding: 16px 0px;
  color: white;
  background-color: #4a4a4a;
  text-align: center;
}

.banner span:hover{
  background-color: #e9d758;
}

.banner-text h1, .banner-text h3, .banner-text span{
  margin-bottom: 32px;
  line-height: 1.25;
}

@media only screen and (min-width: 320px) and (max-width: 520px){
  .banner{
    display: block;
    width: 100%;
  }

  .banner img{
    margin: 0px;
    margin-bottom: 16px;
    width: 100%;
  }

  .banner-text{
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    margin: 16px;
  }

  .banner h1{
    font-size: 2rem;
    width: 80%;
  }

  .banner h3{
    margin-bottom: 24px;
  }

  .banner span{
    width: 100%;
  }
}

                                /* Information */

.info{
  display: flex;
  width: 100%;
  padding-bottom: 32px;
  background-color: #f3f5f5;
}

/* left info */
.info-text{
  padding: 32px 24px;
  max-width: 60%;
}

.info-text img{
  padding-bottom: 32px;
  width: 100%;
}

.info-text h3{
  padding-bottom: 24px;
  font-weight: bold;
  font-size: 3rem;
  letter-spacing: 1.5px;
}

.info-text p{
  padding-bottom: 24px;
  color: #7e7e7e;
}

.info-text span{
  font-size: 14px;
}

.text-info{
  width: 100%;
  color: #4a4a4a;
}

/* right info */
.info-boxes{
  border-left: lightgrey 1px solid;
  width: 40%;
}

.info-box{
  display: flex;
  align-items: center;
  color: #4a4a4a;
}

.info-box img{
  width: 35%;
  padding: 16px;
}

.info-box h4{
  font-size: 1.75rem;
  font-weight: bold;
  padding-bottom: 12px;
}

.info-box p{
  letter-spacing: 1.25px;
  padding-bottom: 12px;
}

.info-box a{
  text-decoration: none;
  color: #6ca4e3;
}

.info-box a:hover{
  color: skyblue;
}


.box-text{
  width: 65%;
  padding-left: 16px;
  padding-right: 16px;
}

.orientation{
  padding-top: 16px;
  border-bottom:lightgrey 4px solid;
}

.lecture{
  background-color: lightgrey;
}

@media only screen and (min-width: 320px) and (max-width: 480px){
  .info-text{
     display: none;
  }
}

/* Courses */

.courses{
  padding: 32px 72px;
  background-color: #eaebec;
}

.courses h1, .thesis h1{
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  color: #4a4a4a;
  letter-spacing: 1.25px;
}

.classes{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.class{
  padding: 32px 16px;
  width: 25%;
}

.class img{
    height: auto;
    width: 100%;
}

.class-text{
  background-color: white;
  width: 100%;
}

.class-text-padding{
  padding: 16px;
  height: 100px;
}

.class-text h4{
  font-weight: bold;
  font-size: 20px;
  color: #4a4a4a;
  letter-spacing: 1.25px;
  padding-bottom: 8px;
}

.class-text span{
  color: #7e7e7e;
}

.class-text p{
  padding-top: 8px;
  color: #7e7e7e;
}

                                /* Thesis */

.thesis{
  background-color: #f3f5f5;
}

.thesis h1{
  padding: 32px 0;
}

.thesis-text{
  padding: 0 24px;
}

.text-thesis h3{
  font-size: 1.25rem;
  padding-top: 24px;
}

.thesis-boxes{
  border:none;
}

.fisma{
  background-color: #d8d8d8;
}

                                /* Footer */

footer{
  background-color: #f3f5f5;
  border-top: lightgrey 1px solid;
  height: 64px;
}

.footer{
  display: flex;
  padding: 16px 24px;
  justify-content: space-between;
  font-size: 14px;
  color: #7e7e7e;
}

.footer li{
  display: inline;
}

.footer li:first-child{
  padding-right: 10px;
}

.footer a{
  color: #7e7e7e;
  text-decoration: none;
}

.footer a:hover{
  color: black;
}
